/dist/*
/extension/dist/*
/extension/node_modules/*
/internal/db/*
/node_modules/*
/recueil
/src/paraglide/*
/terraform/*.tfstate*
/terraform/.terraform*
/terraform/node_modules/*
/tmp/*
/www/public/*
